.env
libs_backup
__pycache__
*.log
.pytest_cache
.coverage
htmlcov/
poetry.lock
meta.json
.vscode
.DS_Store
*.ankiaddon
meta.json
.vscode/

# Development environment
venv/
.venv/
*.pyc
.python-version
.idea/

#ai-related rules

#uv setting
uv.lock
