.env
libs_backup
__pycache__
*.log
.pytest_cache
poetry.lock
pyproject.toml
.vscode
tests
.DS_Store
*.ankiaddon
.vscode/

# Development environment
venv/
.venv/
*.pyc
.python-version
.idea/

#ai-related rules
claude.md

#uv setting
uv.lock