.env
libs_backup
__pycache__
*.log
.pytest_cache
poetry.lock
pyproject.toml
.vscode
.DS_Store
*.ankiaddon
meta.json
.vscode/

# Development environment
venv/
.venv/
*.pyc
.python-version
.idea/

#ai-related rules
claude.md

#uv setting
uv.lock
